@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

:root {
  --base-color: #f7efda;
  --text-color: #000000;
  --primary-color: #1d713d;
  --secondary-color: #8f4f2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em auto 1em auto;
}

.flex-container h1 {
    text-align:center;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.node-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.node-container a {
  text-decoration: none;
  height: 375px;
  width: 225px;
  background-color: white;
  margin: 5px;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 1em;
  border: solid var(--primary-color);
}

.node-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.field-container img {
    display: block;
    margin-left: 2em;
    margin-right: auto;
    margin-bottom: 0em;
    border-radius: 1em;
    border: solid var(--primary-color);
}

.node-text {
    display: flex;
    justify-content: center;
    margin: 0.25em;
    }

.node-text id {
    background-color: brown;
    color: var(--base-color);
    padding: 0.5em;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.5em;
    width: 100%;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
    text-align: center;
}

table h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1em;
    color: black;
}

table h3 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--secondary-color);
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
}